# Node dependencies
node_modules/
dist/

# Local environment variables
.env

# Build and logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# TypeScript build artifacts
*.tsbuildinfo

# Temporary files
temp/
tmp/
